<div class="row">
  <div class="col-md-12">
    <ui-select multiple ng-model="search.tags" theme="bootstrap" title="Search" on-remove="searchTag()" on-select="searchTag()" reset-search-input="true">
      <ui-select-match placeholder="Enter a country...">{{$item}}</ui-select-match>
      <ui-select-choices repeat="tag in tags | filter:$select.search">
        {{tag}}
      </ui-select-choices>
    </ui-select>

    <div class="np-article" ng-repeat="article in articles">
      <a ng-href="#/article/{{article._id}}"><h1 ng-bind="article.title"></h1></a>
      <div class="np-meta-article">
        <a ng-href="{{article.link}}"><i class="fa fa-external-link"></i> <span ng-bind="article.blog"></span></a>
        <span><i class="fa fa-child"></i> <span ng-bind="article.author"></span></span>
        <span><i class="fa fa-calendar"></i> <span ng-bind="article.displayDate | date : 'longDate'"></span></span>
        <span ng-if="article.tags.length" ><i class="fa fa-tags"></i> <span ng-repeat="tag in article.tags"><span ng-bind="tag"></span><span ng-if="$last !== true">, </span> </span></span>
      </div>
      <div ng-bind="article.contentSummary"></div>
    </div>
    <div ng-show="!search.tags || search.tags.length == 0" ng-click="loadMore()" class="np-plus-article"><i class="fa fa-plus-circle"></i></div>
    </div>
</div>
