<div class="row">
  <div class="col-md-12">
    <h4>Hello ! You are on the very first version of <b>Nomad Planets.</b> </h4>
    <p>Don't expect too much, this website was made in two days.</p>
    <p>The purpose of this website is to gather stories and info from many great travellers blogs and put them into one place, where they will be saved, categorized with tags, and easily searchable. Now it's only possible to search by countries.</p>
    <p>For contact or if you want to suggest a blog please send me an email at <b>remi @ nomadplanets . org</b></p>
    <p>If you don't want your blog to be here you can also send an email so we take it away.</p>
    <p>The blogs article on nomadplanets will not be referenced by search engines.</p>
    This is an open source project, <a href="https://github.com/Remigr/nomadplanets">code is here</a>
    <br />
    <a href="https://github.com/Remigr/nomadplanets/issues">Add and read issues/enhancements here</a>
  </div>
</div>
